@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Yusei+Magic&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --primary-color: #3989bb;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Yusei Magic', sans-serif;
}

.whole-container{
    width: 400px;
    margin: 0 auto;
    height: 100%;
    border-radius: 15px 15px 0 0;
    box-shadow: 5px 7px 5px #aaa;
    background-color: #f1fefc;
    
    
}

/*header*/

.header{
    height: 180px;
    border-radius: 15px 15px 0 0;
    background: url('../images/VECTEEZY_WINTER_BACKGROUND_PS1020.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    
}

.header  i{
    margin: 5px 5px;
    color: #eee;
    margin-left: 20px;
    float: right;
    font-size: 25px;
}

.tooltip{
    display: none;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    font-size: 10px;
    padding: 3px;
}

.header i:hover .tooltip{
    display: block;
}

.header  h1{
    margin-bottom: 45px;
    color: var(--primary-color);
    align-self: center;
    
}

.header #date{
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
}


/*Content*/
.content{
    height: 350px;
    overflow: auto;
}

.content::-webkit-scrollbar { 
    display: none; 
}

.content ul{
    width: 100%;
    padding: 0;
    margin: 0;
}

#tick p, #tick i{
    color: green;
  
}

.content li .fa-circle{
    color: #fff;

}

.content li i{
    margin: 0 5px;
}


.content ul li{
    padding: 5px 0;
    list-style: none;
    display: flex;
    margin-bottom:3px;
    justify-content: space-between;
    box-shadow: 0 7px 8px #88c8e2;
    cursor: pointer; 
    color: var(--primary-color);
   
}

ul li:nth-child(odd){
    background: #c5e8ea;
}

ul li:nth-child(even) {
    background: #c5e8ea;
}
.content ul li:hover{
    transform: scaleY(0.9);
    box-shadow: 0 5px 6px #333;

}

.content ul li i:hover{
    transform: scale(1.25,1.25);

}
.content ul li p{
    margin:0 8px;
    font-weight: 600;
    padding:0;
}
.content #delete-btn:hover{
    color: #a71535;
}

/* ------------ add item ------------ */
.add-item{
    margin-bottom: 10px;
    background-color: #FFF;
    border-top: 1px solid rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
   
}

.add-item i{
    font-size: 35px;
    color: var(--primary-color);
    padding: 0 10px;
    
}

.add-item input{
    width: 320px;
    height: 30px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding-left:10px;
    margin-left: 15px;
    color:var(--primary-color);
}

.add-item input:focus{
    outline: none;
}

footer{
    
    align-items: center;
    color: #a9a9a9;
    background: var(--primary-color);
    
}
footer .para{
    margin-right: 10px;
}
footer p{
    font-size: 12px;
    font-size: 12px;
    
}